# Database Configuration
DATABASE_URL=mysql+pymysql://user:password@localhost/jaga_mata
SECRET_KEY=

GEMINI_API_KEY=

# Flask Environment for development
FLASK_ENV=development
FLASK_DEBUG=True

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:5000/auth/callback

# Brevo SMTP Configuration
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USERNAME=
BREVO_SMTP_PASSWORD=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=