# Database Configuration
DATABASE_URL=mysql+pymysql://user:password@localhost/jaga_mata
SECRET_KEY=

GEMINI_API_KEY=

# Flask Environment for development
FLASK_ENV=development
FLASK_DEBUG=True

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:5000/oauth/callback

# SMTP Configuration
RESEND_API_KEY=
RESEND_SENDER_EMAIL=
RESEND_SENDER_NAME=Jagamata