Flask
python-dotenv
Flask-Login
Flask-Bcrypt
Flask-SQLAlchemy
PyMySQL
cryptography
Werkzeug
flask-cors
PyJWT
gunicorn

cloudinary

tensorflow
keras
numpy
pandas
scikit-learn

transformers
tokenizers

google-generativeai

# Auth dependencies
requests
sib-api-v3-sdk


gradio_client
